# Schema Searches
MYSQL_SCHEMA_LOOKUP_QUERY=
POSTGRES_LOOKUP_QUERY=

# Environment Config Properties
WORK_DIR=
HOST=
APP_USER=
APP_USER_PASSWORD=
BACKUP_DIR=
MYSQL_BACKUP_FILE_PREFIX=
POSTGRESQL_BACKUP_FILE_PREFIX=
MONGODB_BACKUP_FILE_PREFIX=
MONGODB_AUTH_DB=

# AWS S3 Bucket Properties
PUSH_TO_S3="TRUE"
S3_BUCKET_NAME=
S3_SUBDIR=

